<!DOCTYPE html>
<html>
<head>
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}      
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2  style="text-align:center;">Ganesh Dontha 1002006784</h2>

<p> {{ Timetaken }}</p>   
<p>
    <form action="/" method="POST">
        <h4>Homepage</h4>
        <br>
        <input type="submit" value="Back">
    </form>
</p>
<table>
  <tr>    
    <th>TIME</th>
    <th>LATITUDE</th>
    <th>LONGTITUDE</th>
    <th>DEPTH</th>
    <th>MAG</th>
    <th>MAGTYPEE</th>
    <th>NST</th>
    <th>GAP</th>
    <th>DMIN</th>
    <th>RMS</th>
    <th>NET</th>
    <th>ID</th>
    <th>UPDATED</th>
    <th>PLACE</th>
    <th>TYPE</th>
    <th>HOTIZONTALERROR</th>
    <th>DEPTHERROR</th>
    <th>MAGERROR</th>
    <th>MAGNST</th>
    <th>STATUS</th>
    <th>LOCATIONSOURCE</th>
    <th>MAGSOURCE</th>
  </tr> 
  <tr>
    {% for row in result %}
    <tr>
        {% for cell in row %}  
        <td>{{ cell }}</td>    
        {% endfor %}
    </tr>
    {% endfor %}    
  </tr>
  </table>

</body>
</html>

