<!DOCTYPE html>
<html>
<head>
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}  
</style>
<h1 style="text-align:center;"><u>Ganesh Dontha 1002006784</u> </h1>

</head>
<body>
    <hr>
    <form action="/alldata" method="POST">
        <h4>To see uploaded data from data base </h4>
        <br>
        <input type="submit" value="No Redis">
    </form>
    <hr>
    </br>
    <form action="/alldatawithredis" method="POST">
        <h4>To see uploaded data from Redis Cache </h4>
        <br>
        <input type="submit" value="Redis">
    </form>
    <hr>
    <form action="/databymag" method="POST">
        <h4>Data with Magn from database > 2  </h4>
        <br>
        <input type="submit" value="No Redis">
    </form>
    <hr>
    <form action="/databymagredis" method="POST">
        <h4>Data with Magn from cache  </h4>
        <br>
        <input type="submit" value="No Redis">
    </form>
    <hr>
    <form action="/createtable" method="POST">
        <h4>Create Table </h4>
        <br>
        <input type="submit" value="Create table">
    </form>
    <hr>
    <form action="/place_affected_by_eartquake" method="POST">
        <h4>To find the place affected by eartquake</h4>
        <br>
        <label for="Latitude">latitude</label> 
        <input type="text" id="Latitude" name="Latitude" placeholder="Enter Latitude">
        <br>
        <label for="Longitude">Longitude</label> 
        <input type="text" id="Longitude" name="Longitude" placeholder="Enter Longitude">
        <label for="Radius">Radius </label>
        <input type="text" id="Radius" name="Radius" placeholder="Enter Radius">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
    <br>
    
    <hr>
    <form action="/volcanodata" method="POST">
        <h4>volcano </h4>
        <br>
        <input type="submit" value="volcano">
    </form>
    <hr>
    <form action="/boxplot" method="POST">
        <h4>Data volcano </h4>
        <br>
        <label for="Elev1">elev1 </label>
        <input type="text" id="Elev1" name="Elev1" placeholder="Enter lattitude">
        <label for="Elev2">elev2</label>
        <input type="text" id="Elev2" name="Elev2" placeholder="Enter longitude">
        <label for="number1">number1 </label>
        <input type="text" id="Number1" name="Number1" placeholder="Enter number of times">
        <label for="number2">number2 </label>
        <input type="text" id="Number2" name="Number2" placeholder="Enter number of times">
        <input type="submit" value="No Redis" >
    </form>
    <hr>
    <br>
    <form action="/boxplot2" method="POST">
        <h4>Data volcano </h4>
        <br>
        <label for="Elev1">elev1 </label>
        <input type="text" id="Elev1" name="Elev1" placeholder="Enter lattitude">
        <label for="Elev2">elev2</label>
        <input type="text" id="Elev2" name="Elev2" placeholder="Enter longitude">
        <label for="number1">number1 </label>
        <input type="text" id="Number1" name="Number1" placeholder="Enter number of times">
        <label for="number2">number2 </label>
        <input type="text" id="Number2" name="Number2" placeholder="Enter number of times">
        <input type="submit" value="No Redis" >
    </form>
    <form action="/boxplotwithredis" method="POST">
        <h4>Data volcano </h4>
        <br>
        <label for="Elev1">elev1 </label>
        <input type="text" id="Elev1" name="Elev1" placeholder="Enter lattitude">
        <label for="Elev2">elev2</label>
        <input type="text" id="Elev2" name="Elev2" placeholder="Enter longitude">
        <label for="number1">number1 </label>
        <input type="text" id="Number1" name="Number1" placeholder="Enter number of times">
        <label for="number2">number2 </label>
        <input type="text" id="Number2" name="Number2" placeholder="Enter number of times">
        <input type="submit" value=" Redis" >
    </form>votesbyyear
    <form action="/boxplotwithredis" method="POST">
        <h4>Data volcano </h4>
        <br>
        <label for="Elev1">elev1 </label>
        <input type="text" id="Elev1" name="Elev1" placeholder="Enter lattitude">
        <label for="Elev2">elev2</label>
        <input type="text" id="Elev2" name="Elev2" placeholder="Enter longitude">
        <label for="number1">number1 </label>
        <input type="text" id="Number1" name="Number1" placeholder="Enter number of times">
        <label for="number2">number2 </label>
        <input type="text" id="Number2" name="Number2" placeholder="Enter number of times">
        <input type="submit" value=" Redis" >
    </form>votesbyyear
    <form action="/boxplotwithredis" method="POST">
        <h4>Data volcano </h4>
        <br>
        <label for="Elev1">elev1 </label>
        <input type="text" id="Elev1" name="Elev1" placeholder="Enter lattitude">
        <label for="Elev2">elev2</label>
        <input type="text" id="Elev2" name="Elev2" placeholder="Enter longitude">
        <label for="number1">number1 </label>
        <input type="text" id="Number1" name="Number1" placeholder="Enter number of times">
        <label for="number2">number2 </label>
        <input type="text" id="Number2" name="Number2" placeholder="Enter number of times">
        <input type="submit" value=" Redis" >
    </form>
    <br>
    <form action="/votesbyyear" method="POST">
        <h4>Data votes 10a</h4>
        <br>
        <label for="yearstart">Year start </label>
        <input type="text" id="yearstart" name="yearstart" placeholder="Enter year start">
        <label for="yearend">Year end </label>
        <input type="text" id="yearend" name="yearend" placeholder="Enter yearend">
        <label for="voteslow">votes low </label>
        <input type="text" id="voteslow" name="voteslow" placeholder="Enter number of voteslow">
        <label for="voteshigh">votes high </label>
        <input type="text" id="voteshigh" name="voteshigh" placeholder="Enter number of voteshigh">
        <input type="submit" value=" SQL" >
        <label for="querytime">Year query times run </label>
        <input type="text" id="querytime" name="querytime" placeholder="Enter query times run">
    </form>
    <hr>
    <br>
    <form action="/votesbyyearmaxmin" method="POST">
        <h4>Data votes 10b</h4>
        <br>
        <label for="yearstart">Year start </label>
        <input type="text" id="yearstart" name="yearstart" placeholder="Enter year start">
        <label for="yearend">Year end </label>
        <input type="text" id="yearend" name="yearend" placeholder="Enter yearend">
        <label for="voteslow">votes low </label>
        <input type="text" id="voteslow" name="voteslow" placeholder="Enter number of voteslow">
        <label for="voteshigh">votes high </label>
        <input type="text" id="voteshigh" name="voteshigh" placeholder="Enter number of voteshigh">
        <input type="submit" value=" SQL" >
        <label for="querytime">Year query times run </label>
        <input type="text" id="querytime" name="querytime" placeholder="Enter query times run">
    </form>
    <hr>
    <br>
    <form action="/votesbyyearredis" method="POST">
        <h4>Data votes 10a 13</h4>
        <br>
        <label for="yearstart">Year start </label>
        <input type="text" id="yearstart" name="yearstart" placeholder="Enter year start">
        <label for="yearend">year end</label>
        <input type="text" id="yearend" name="yearend" placeholder="Enter yearend">
        <label for="voteslow">votes low </label>
        <input type="text" id="voteslow" name="voteslow" placeholder="Enter number of voteslow">
        <label for="voteshigh">votes high </label>
        <input type="text" id="voteshigh" name="voteshigh" placeholder="Enter number of voteshigh">
        <input type="submit" value=" redis" >
        <label for="querytime">Year query times run </label>
        <input type="text" id="querytime" name="querytime" placeholder="Enter query times run">
    </form>
    <hr>
    <br>
    <form action="/votesbyyearmaxminredis" method="POST">
        <h4>Data votes 10b 13</h4>
        <br>
        <label for="yearstart">Year start </label>
        <input type="text" id="yearstart" name="yearstart" placeholder="Enter year start">
        <label for="yearend">year end</label>
        <input type="text" id="yearend" name="yearend" placeholder="Enter yearend">
        <label for="voteslow">votes low </label>
        <input type="text" id="voteslow" name="voteslow" placeholder="Enter number of voteslow">
        <label for="voteshigh">votes high </label>
        <input type="text" id="voteshigh" name="voteshigh" placeholder="Enter number of voteshigh">
        <input type="submit" value=" redis" >
        <label for="querytime">Year query times run </label>
        <input type="text" id="querytime" name="querytime" placeholder="Enter query times run">
    </form>
    <br>
    <hr>
    <form action="/votesbysum" method="POST">
        <h4>Data votes 11 </h4>
        <br>
        <label for="yearstart">Year start </label>
        <input type="text" id="yearstart" name="yearstart" placeholder="Enter year start">
        <label for="yearend">year end</label>
        <input type="text" id="yearend" name="yearend" placeholder="Enter yearend">
        <input type="submit" value=" submit" >
        <label for="querytime">Year query times run </label>
        <input type="text" id="querytime" name="querytime" placeholder="Enter query times run">
    </form>
    <hr>
    <br>
    <form action="/votesbysum" method="POST">
        <h4>Data votes 11 13 </h4>
        <br>
        <label for="yearstart">Year start </label>
        <input type="text" id="yearstart" name="yearstart" placeholder="Enter year start">
        <label for="yearend">year end</label>
        <input type="text" id="yearend" name="yearend" placeholder="Enter yearend">
        <input type="submit" value=" submit" >
        <label for="querytime">Year query times run </label>
        <input type="text" id="querytime" name="querytime" placeholder="Enter query times run">
    </form>
    <hr>
    <form action="/votes" method="POST">
        <h4>Voting data </h4>
        <br>
        <label for="Year1">year1 </label>
        <input type="text" id="Year1" name="Year1" placeholder="Enter year">
        <label for="Year2">year2</label>
        <input type="text" id="Year2" name="Year2" placeholder="Enter year">
        <label for="Votes1">votes1 </label>
        <input type="text" id="Votes1" name="Votes1" placeholder="Enter votes">
        <label for="Votes2">vote21 </label>
        <input type="text" id="Votes2" name="Votes2" placeholder="Enter votes">
        <input type="submit" value="No Redis" >
    </form>
    <form action="/votesascending" method="POST">
        <h4>Voting data </h4>
        <br>
        <label for="Year1">yr1 </label>
        <input type="text" id="Year1" name="Year1" placeholder="Enter year">
        <label for="Yr2">yr2</label>
        <input type="text" id="Year2" name="Year2" placeholder="Enter year">
        <label for="Votes1">vot1 </label>
        <input type="text" id="Votes1" name="Votes1" placeholder="Enter votes">
        <label for="Votes2">vot2 </label>
        <input type="text" id="Votes2" name="Votes2" placeholder="Enter votes">
        <input type="submit" value="No Redis" >
    </form>
</body>    


</body>    