<!DOCTYPE html>
<html>
<head>
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}      
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2  style="text-align:center;">abhyudai singh 9471</h2><!--Change Name -->>
<p> <img src="./static/image0.jpeg"  style="width:200px;height:200px;"><!--User photo-->>
<p>
    <form action="/" method="POST">
        <h4>Homepage</h4>
        <br>
        <input type="submit" value="Back">
    </form>
</p>
<table>
  <tr>    
    <th>TIME</th>
    <th>LATITUDE</th>
    <th>LONGTITUDE</th>
    <th>ID</th>
    <th>PLACE</th>
  </tr> 
    {% for row in longplus %}
    <tr>
        <td>{{ row[0] }}</td>  
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
    </tr>
    {% endfor %}    
</table>

</body>
</html>