<!DOCTYPE html>
<html>
<head>
    <h1> Ganesh Dontha 1002006784</h1>
<title>Assignment 1</title>
</head>
<body>
    <form action="/get_less_5000" method="POST">
        <h4>Get details for salary less than 5000 </h4>
        <br>
        <input type="submit" value="Submit">
    </form>
    <hr>
    <br>
    <form action="/Update_keyword" method="POST">
        <h4>Update Keyword </h4>
        <br>
        <label for="Keyword">Update Keyword</label> 
        <input type="text" id="Name" name="Name" placeholder="Enter Name to update keyword for ">
        <input type="text" id="Keyword" name="Keyword" placeholder="Enter Keyword to update">
        <input type="submit" value="Submit">
    </form>
    <hr>
    <br>
    <form action="/Update_Salary" method="POST">
        <br>
        <label for="Keyword">Update Salary</label> 
        <input type="text" id="Name" name="Name" placeholder="Enter Name to update keyword for ">
        <input type="text" id="Salary" name="Salary" placeholder="Enter Keyword to Salary">
        <input type="submit" value="Submit">
    </form>
    <p><img src="./static/chuck.jpg"  style="width:200px;height:200px;"></p>
    <p><img src="./static/dar.jpg"  style="width:200px;height:200px;"></p>
    <p><img src="./static/dave.jpg"  style="width:200px;height:200px;"></p>
    <p><img src="./static/dhru.jpg"  style="width:200px;height:200px;"></p>
    <p><img src="./static/drsl.jpg"  style="width:200px;height:200px;"></p>
    <p><img src="./static/tavo.jpg"  style="width:200px;height:200px;"></p>
    <p><img src="./static/upset.jpg"  style="width:200px;height:200px;"></p>
</body>
</html>


